<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light p-3 rounded border">
    <li class="breadcrumb-item">
			<%= link_to *previous_page %>
		</li>
    <li class="breadcrumb-item active" aria-current="page">
			<%= current_page %>
		</li>
  </ol>
</nav>